<h1>Feed for <%= @user.username %></h1>

<table border="1" width="100%">
  <thead>
    <tr>
      <th>Image</th>
      <th>Owner</th>
      <th>Caption</th>
      <th>Posted</th>
      <th>Likes</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @photos.each do |photo| %>
      <tr>
        <td style="text-align:center">
          <%= image_tag photo.image, width: 200 if photo.image.present? %>
        </td>
        <td><%= photo.owner.username %></td>
        <td><%= photo.caption %></td>
        <td><%= time_ago_in_words(photo.created_at) %> ago</td>
        <td style="text-align:center"><%= photo.likes_count %></td>
        <td><%= link_to "Show details", photo_path(photo) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
