<tr>
  <td style="text-align:center">
    <% if photo.image.present? %>
      <%= image_tag photo.image_url, width: 200, alt: "photo" %>
    <% else %>
      (no image)
    <% end %>
  </td>

  <td><%= photo.owner.username %></td>
  <td><%= photo.caption.presence || "(no caption)" %></td>
  <td><%= time_ago_in_words(photo.created_at) %> ago</td>
  <td style="text-align:center"><%= photo.likes_count %></td>
  <td><%= link_to "Show details", photo_path(photo) %></td>
</tr>
