<h1>List of photos</h1>

<table border="1" width="100%">
  <thead>
    <tr>
      <th width="20%">Image</th>
      <th>Caption</th>
      <th width="10%">Owner</th>
      <th width="10%">Posted</th>
      <th width="5%">Likes</th>
      <th width="8%"></th>
    </tr>
  </thead>

  <tbody>
    <% @photos.each do |photo| %>
      <tr>
        <!-- image (we only have a URL string) -->
        <td style="text-align:center">
          <% if photo.image.present? %>
            <%= image_tag photo.image, width: 200, alt: "photo" %>
          <% else %>
            (no image)
          <% end %>
        </td>

        <!-- caption -->
        <td><%= photo.caption.presence || "(no caption)" %></td>

        <!-- owner username (no link here if you don’t want one) -->
        <td><%= photo.owner.username %></td>

        <!-- posted time -->
        <td><%= time_ago_in_words(photo.created_at) %> ago</td>

        <!-- likes count -->
        <td style="text-align:center"><%= photo.likes_count %></td>

        <!-- show details link -->
        <td><%= link_to "Show details", photo_path(photo) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
